@model FindMyBus.Models.LoginRoles

@{
    ViewBag.Title = "Delete";
}
<div class="container">

    <h3 class="mt-4">Are you sure you want to delete this Login Roles?</h3>
    <div>

        <hr />
        <a href="/Drivers/Index" class="btn btn-warning mb-3" title="Back to list"><i class="fas fa-long-arrow-alt-left"></i> </a>
        <table id="" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Login.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.Login.FullName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Role)
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mt-4">
            <div class="col-md-2">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">

                        <input type="submit" value="Delete" class="btn-danger" style="width:100%;border:none;padding:0.5rem;border-radius:3px" />

                    </div>
                }
            </div>
        </div>

    </div>

</div>