@model IEnumerable<FindMyBus.Models.BusRoutes>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">

    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a href="/BusRoutes/Create" class="btn btn-primary mt-3 mb-3">Create new route</a>
        <table id="example" class="table table-striped table-bordered" style="width:100%;margin-top:100px">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Depature)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Arrival)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepatureDataTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ArrivalDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bus.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bus.TotalSeats)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr class="tableData">
                        <td>
                            @Html.DisplayFor(modelItem => item.Depature)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Arrival)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepatureDataTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArrivalDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bus.TotalSeats)
                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <td>
                                <a href="/BusRoutes/Edit/@(String.Format("{0}", item.Id))" class="btn-sm btn-success" title="Edit"><i class="fas fa-edit"></i></a>
                                <a href="/BusRoutes/Details/@(String.Format("{0}", item.Id))" class="btn-sm btn-info" title="Details"><i class="far fa-list-alt"></i></a>
                                <a href="/BusRoutes/Delete/@(String.Format("{0}", item.Id))" class="btn-sm btn-danger" title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        }
                        @if (!User.IsInRole("Admin") && !User.IsInRole("Employee"))
                        {
                            <td>
                                @(Html.ActionLink("Book Now", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }))
                            </td>
                        }

                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Depature)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Arrival)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepatureDataTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ArrivalDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bus.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bus.TotalSeats)
                    </th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    }
    @if (!User.IsInRole("Admin"))
    {
        <div class="mt-5">
            <table id="example" class="table table-striped table-bordered" style="width:100%;margin-top:100px">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Depature)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Arrival)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DepatureDataTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ArrivalDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bus.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bus.TotalSeats)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                {
                        <tr class="tableData">
                            <td>
                                @Html.DisplayFor(modelItem => item.Depature)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Arrival)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepatureDataTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArrivalDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bus.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bus.TotalSeats)
                            </td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            }
                            @if (!User.IsInRole("Admin"))
                            {
                                <td>
                                    @(Html.ActionLink("Book Now", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }))
                                </td>
                            }

                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Depature)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Arrival)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DepatureDataTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ArrivalDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bus.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bus.TotalSeats)
                        </th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</div>


<script src="~/Scripts/jquery-3.slim.min.js"></script>

